/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-09-25 01:05:49
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-28 21:12:47
**************************************************************/

div#error404 {
	text-align: center;


	h1#code {
		margin-top: 100px;
		color : $secondary_color;
		font-size: 150px;
		margin-bottom: 50px;
		line-height: 125px;

		span#logo404 {
			display: inline-block;
			background-image: url('../Body/img/logo/128x128.png');
			width: 128px;
			height: 128px;
			margin-left : 30px;
			margin-right: 20px;
			vertical-align: bottom;
		}
	}

	h2#message {
		color : $primary_color;
		font-size: 42px;
	}
}