/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-11-09 00:39:27
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-16 11:35:30
**************************************************************/

div.popup {
	$min_width_popup : 700px;
	$min_height_popup : 400px;
	@include backgroundApp;
	top : 50%;
	left: 50%;
	margin-top: ($min_height_popup / 2) * -1;
	margin-left: ($min_width_popup / 2) * -1;
	width: $min_width_popup;
	height: $min_height_popup;
	background-color: $white_color;
	position: fixed;
	z-index: 1001;
	overflow: hidden;
	opacity: 0;
	@include animation('fadeIn 0.2s ease-in-out both');

	div.head {
		background-color: darken($white_color, 2);
		border-bottom: 1px solid darken($white_color, 5);
		position: absolute;
		width: 100%;
		height: 50px;
		top: 0px;
		left: 0px;

		h3 {
			line-height: 50px;
			margin: 0px 50px 0px 10px;
			font-weight: 100;
		}

		i.fa.fa-close {
			width : 50px;
			height: 50px;
			color : $primary_color;
			line-height: 50px;
			text-align: center;
			position: absolute;
			right: 0px;
			top: 0px;
			cursor: pointer;
		}
	}

	div.content {
		width: 100%;
		margin: 50px 0px;
		height: 300px;
		overflow-x: scroll;
	}

	div.bottom {
		background-color: darken($white_color, 2);
		border-top: 1px solid darken($white_color, 5);
		position: absolute;
		width: 100%;
		text-align: right;
		height: 50px;
		bottom: 0px;
		right: 10px;

		button {
			margin: 10px;
		}

	}
}