/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-09-09 18:14:07
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-09-09 18:20:57
**************************************************************/

@include keyframes(animateLoader) {
	25%		{ transform: scale(1);		background-color : rgba($primary_color, 0.3); }
	50%		{ transform: sclae(1.50);	background-color : rgba($primary_color, 0.5); }
	75%		{ transform: scale(2);		background-color : rgba($primary_color, 0.7); }
	100%	{ transform: sclae(1.50);	background-color : rgba($primary_color, 0.5); }
}