.loader {
	span {
		width: $loader_size_with;
		height: $loader_size_height;
		margin-left : (2 * $loader_size_with);
		display: inline-block;
		animation: animate $loader_animation_time linear infinite;
		animation-delay: ($loader_animation_time / 4);
		-webkit-animation-delay: ($loader_animation_time / 4);
		border : 1px solid rgba(white, 0.1);

		&:first-child {
			animation-delay: 0s;
			-webkit-animation-delay: 0s;
		}

		&:last-child {
			animation-delay: ($loader_animation_time / 2);
			-webkit-animation-delay: ($loader_animation_time / 2);
		}

		@keyframes animate {
			25%		{ transform: scale(1);		background-color : rgba($primary_color, 0.3); }
			50%		{ transform: sclae(1.50);	background-color : rgba($primary_color, 0.5); }
			75%		{ transform: scale(2);		background-color : rgba($primary_color, 0.7); }
			100%	{ transform: sclae(1.50);	background-color : rgba($primary_color, 0.5); }
		}
	}
}