/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-09-13 20:02:41
**************************************************************/

.loader {
	span {
		width: $loader_size_with;
		height: $loader_size_height;
		margin-left : (2 * $loader_size_with);
		display: inline-block;
		animation: animateLoader $loader_animation_time linear infinite;
		animation-delay: ($loader_animation_time / 4);
		-webkit-animation-delay: ($loader_animation_time / 4);
		border : 1px solid rgba(white, 0.1);

		&:first-child {
			animation-delay: 0s;
			-webkit-animation-delay: 0s;
		}

		&:last-child {
			animation-delay: ($loader_animation_time / 2);
			-webkit-animation-delay: ($loader_animation_time / 2);
		}
	}
}